.modal {
    width:90%;
    height:80%;
    top:10%;
    position:absolute;
    z-index:100;
    border:2px solid #333;
    left:5%;
    display:none;
    background:#fff;
    padding:20px;
    .fa-times {
        position:absolute;
        top:5px;
        right:5px;
        cursor:pointer;
    }
}

img.links {
   cursor:pointer; 
}