<i class="fa fa-times" aria-hidden="true"></i>
<section>
    <div class="container noflex">
        <div class="content editable">
            <h2 class="editable">Hello title</h2>
            <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nibh quam, convallis sed blandit non, finibus in leo. Donec sit amet magna tincidunt, efficitur sem vel, cursus velit. Praesent ac pharetra orci, vel aliquet nulla. Sed ut ipsum id nulla mattis pretium. Sed et dignissim est. Vivamus at ipsum dui. Aenean eget ante eget justo egestas luctus. Cras sagittis consequat pharetra. Nulla risus nunc, tempor eu ligula et, fringilla convallis velit. Sed mattis id turpis id pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam volutpat metus non vulputate finibus.</p>
        </div>
    </div>
</section>