<section>
    <i class="fa fa-times" aria-hidden="true"></i>
    <div class="container">
        <div class="content editable">
            <h2 class="editable">Modal style examples</h2>
            <p class="editable">
                Here are examples of how to accomplish text alignment, color changes and embeding PDF documents inline.
                <!-- use class="align-right" to any element you want to be right aligned -->
                <p class="align-right">Here is a bunch of text aligned to the right.</p>
                <p class="align-center">And this is text that is aligned in the center</p>
                <p style="color:red">And once more text that is by default left aligned but with a color.</p>
                <p>Here is how you embed a PDF document into HTML:</p>
                <!-- <object data="/charts/chart1.pdf" width="600" height="300"></object> -->
                <!-- where the contents of "data=" is the chart you want to display. You will have to adjust with/height according to the PDF -->
                <p>
                    <object data="/charts/chart1.pdf" width="300" height="150"></object>
                </p>
                <p>However, I recommend using a PNG graphic. If you can't export from your source program in that format you can open the PDF in previw on Mac, choose FILE/EXPORT then use the dropdown to choose the PNG format. Here is that same chart exported via preview:</p>
                <p><img src="/charts/chart1.png" alt="" width="900"></p>
            </p>
        </div>
    </div>
</section>