<section>
    <i class="fa fa-times" aria-hidden="true"></i>
    <div class="container">
        <div class="content editable">
            <h2 class="editable">Modal style examples</h2>
            <p class="editable">
                Here are examples of how to accomplish text alignment, color changes and embeding PDF documents inline.
                <!-- use class="align-right" to any element you want to be right aligned -->
                <p class="align-right">Here is a bunch of text aligned to the right.</p>
                <p class="align-center">And this is text that is aligned in the center</p>
                <p style="color:red">And once more text that is by default left aligned but with a color.</p>
                <p>
                    <object src="/charts/chart1.pdf" width="300" height="300"></object>
                </p>
            </p>
        </div>
    </div>
</section>